.cntr-skills {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: system-ui;
  padding: 10px;
  margin-top: 20px; */

  width: 300px;
  height: 150px;
  border: 1px solid white;
}

/* .cntr-skills div {
  width: 33%;
  padding: 10px;
}

.php,
.vs,
.js,
.db,
.java,
.node,
.git,
.html {
  border-bottom: 0.5px solid gray;
}

.php,
.js,
.vs,
.css,
.db {
  border-right: 0.5px solid gray;
}

.star {
  color: yellow;
  margin-left: 5px;
}

.star-white {
  margin-left: 5px;
}

.lnk-project {
  text-decoration: none;
  color: aqua;
}

i {
  opacity: 0.7;
} */

aside {
  border: 0.5px solid gray;
  margin: 5%;
  padding: 20px;
  border-radius: 10px;
  background: radial-gradient(#000000, #0f0e0e, #181f27);
  background-repeat: no-repeat;
}
