.cntr-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
  margin: 0px 30px;
}

.lnk {
  text-decoration: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 100px;
  transition: 0.8s;
}

.lnk:hover {
  background: rgb(21, 24, 24);
}

.lnk span {
  color: gray;
  font-size: 24px;
  transition: 0.8s;
}

.lnk span:hover {
  color: red;
}

.cntr-header h1 {
  border-bottom: 1px solid gray;
}
