.cntr-works {
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 5%;
  width: 800px;
}

.project-one,
.project-two {
  display: inline-block;
  /* border: 4px ridge rgb(134, 134, 134); */
  height: 50%;
  width: 40%;
  margin: 2% 4.5%;
  border-radius: 10px;
  box-shadow: 0 0 0 2px dimgray;
  position: relative;
}

.img-neuma {
  width: 100%;
  height: -webkit-fill-available;
  border-radius: 10px;
  height: 200px;
}

.container {
  text-align: -webkit-center;
}

.cntr-link {
  display: inline-block;
  width: 40%;
  margin: 0% 4.5%;
}

.project-one,
.project-two {
  /* background: white;
  margin: auto;
  margin-top: 5%;
  max-width: 30%;
  padding: 20px 50px; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-one,
.project-two:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid red;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
