body {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
  background: radial-gradient(#090a0a, #14181a, #181f27);
  background-color: #181f27;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  min-height:100%;
  height: 100%;
  
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  color: #ffffff;
  font-weight: 600;

  margin: 0 0 1rem 0;
  text-transform: uppercase;

  font-size: 2.25rem;
  line-height: 1.3;
  letter-spacing: 0.5rem;
}
