nav::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-3.5rem - 1px);
  left: calc(50% - 0.5px);
  width: 0.5px;
  height: calc(6.6rem + 1px);
  background: #ffffff;
}

nav ul {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  border: solid 1px #ffffff;
  border-radius: 4px;
  margin-bottom: 42%;
}

nav ul > *:first-child {
  border-left: 0;
}

nav ul > * {
  border-left: solid 1px #ffffff;
  color: #ffffff;
  text-decoration: none;
  display: block;
  min-width: 7.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  padding: 0 1.25rem 0 1.45rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  border-bottom: 0;
  transition: 0.8s;
  font-weight: bold;
}

nav ul > *:hover {
  color: red;
  background: rgb(24, 26, 29);
}
